<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SupCommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertSomeProductServlet</display-name>
    <servlet-name>InsertSomeProductServlet</servlet-name>
    <servlet-class>com.supinfo.supcommerce.servlet.InsertSomeProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSomeProductServlet</servlet-name>
    <url-pattern>/basicInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductServlet</display-name>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>com.supinfo.supcommerce.servlet.ListProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/listProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductServlet</display-name>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>com.supinfo.supcommerce.servlet.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/showProduct</url-pattern>
  </servlet-mapping>
</web-app>